@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(247, 247, 247);
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}


nav{
    padding: 25px 100px;
    /* background-color: rgb(181, 7, 88); */
    background-color: white;
    position: sticky;
    top: 0px;
    box-shadow: 0px 4px 10px rgba(205, 205, 205, 0.103);
    display: flex;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 14px;
}
nav a:nth-child(2){
    color: rgb(181, 7, 88);
}
nav .logo{
    letter-spacing: 3px;
}
nav .links{
    display: flex;
    column-gap: 40px;
}
nav .links a:hover{
    color: rgb(181, 7, 88);
}

.search{
    background-color: rgb(233, 233, 233);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.search input{
    padding: 10px 20px;
    width: 400px;
    margin-bottom: -20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid rgb(193, 193, 193);
    outline: none;
}
.search input:focus{
    border: 1px solid rgb(181, 7, 88);
}
.search span{
    margin-bottom: -20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgb(193, 193, 193);
    padding: 7.3px 20px;
    background-color: rgb(250, 250, 250);

}
.nocontent{
    display: grid;
    place-items: center;
    height: 60vh;
    display: none;
}
.nocontent h1{
    font-size: 40px;
    font-weight: 500;
    color: gray;
}

.productcardwrap{
    padding: 50px 100px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 3%;
    row-gap: 30px;
}

.productCard{
    width: 22.75%;
    display: flex;
    flex-direction: column;
    /* padding: 5px; */
    /* border: 1px solid rgb(233, 233, 233); */
    border-radius: 10px;
    /* padding-bottom: 30px; */
}
.productCard img{
    width: 100%;
    height: 250px;
    background-color: gray;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid rgb(233, 233, 233);
}
.productCard .content{
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.content .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .head a{
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-size: 20px;
}
.content .head p{
    font-size: 22px;
    font-weight: 500;
}
.content .size{
    font-size: 15px;
    color: rgb(96, 96, 96);
}
.content .size span{
    font-weight: 600;
    color: black;
}
.description{
    font-size: 13.8px;
    color: rgb(83, 83, 83);
}


footer{
    /* background-color: rgb(181, 7, 88); */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 150px;
    font-weight: 500;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

@media(max-width: 1300px){
    nav{
        padding: 20px 30px;
    }
    .productcardwrap{
        padding: 50px 30px;
    }
    footer{
        padding: 20px 10px;
    }
}
@media(max-width: 1000px){
    .productCard{
        width: 31.33%;
    }
    nav{
        padding: 20px 30px;
    }
    .productcardwrap{
        padding: 50px 30px;
    }
    footer{
        padding: 20px 10px;
    }
}
@media(max-width: 700px){
    .productCard{
        width: 48.5%;
    }
}
@media(max-width: 500px){
    .productCard{
        width: 100%;
    }
    .search{
        width: 100%;
    }
    .search input{
        width: 100%;
    }
    footer p{
        font-size: 13px;
    }
}
@media(max-width: 350px){
    nav{
        padding: 20px 10px;
    }
    .productcardwrap{
        padding: 50px 10px;
    }
    nav .links{
        column-gap: 10px;
    }
    nav .links a{
        font-size: 13px;

    }
    
    footer{
        position: relative;
    }
}